{% extends "base_auth.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="profitlens-login-wrapper">
    <div class="login-container">

        <div class="login-card">
            <div class="page-header">
                <h1>Reset Your Password</h1>
                <p>Enter your email address and we'll send you a secure link to reset your password.</p>
            </div>
            <form action="" method="post" class="form-group-stack">
                {% csrf_token %}
                
                <div class="django-form-fields">
                    {# Django renders the email input field here #}
                    {{ form.as_p }}
                </div>
                
                <button type="submit" class="btn-submit">Send Reset Link</button>
            </form>
            <div class="form-footer" style="text-align: center;">
                <a href="{% url 'login' %}" class="auth-link">Back to login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}